@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    @font-face {
    font-family: 'CopperPlate'; /* Choose a descriptive name */
    src: url('/assets/Copperplate.otf') format('opentype'); 
    font-weight: normal;
    font-style: normal;
    font-display: swap; /* Optional: for better font loading */
    }
}

.fade-slide-image {
  opacity: 0;
  animation: fade 8s infinite;
}

.fade-slide-image.delay {
  animation-delay: 4s;
}

@keyframes fade {
  0% { opacity: 1; }
  45% { opacity: 1; }
  50% { opacity: 0; }
  95% { opacity: 0; }
  100% { opacity: 1; }
}